<html>
  <body>
    <h1>Gallery Update Complete</h1>
    <h2>Page Cleaning Results</h2>
    <pre>
      <%= @page_list.inspect %>
    </pre>
    <h2>Photo Scan Results</h2>
    <pre>
      <%= @actions.inspect %>
    </pre>
  </body>
</html>